/* Fix radio buttons layout */
.radio-group {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
/* Make page take full height */
html, body {
    height: 100%;
}

/* Flex layout to push footer down */
body {
    display: flex;
    flex-direction: column;
}

/* Main grows to fill space */
#main-content {
    flex: 1;
}
/* GLOBAL */
body {
    font-family: Arial;
    margin: 0;
    background: url("images/dumbbells.jpg");
    background-size: cover;
}

/* MAIN BOX */
#main-content {
    background: white;
    padding: 25px;
    margin: 40px auto;
    max-width: 1000px;
    border-radius: 10px;
}

/* HEADER */
header {
    background: #2e8b57;
    color: white;
    text-align: center;
    padding: 20px;
}

/* NAV */
nav {
    background: #111;
    padding: 15px;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.active {
    border-bottom: 2px solid green;
}

/* IMAGE */
.float-img {
    float: right;
    width: 250px;
    margin: 10px;
}

/* COLUMNS */
.columns {
    column-width: 300px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

/* FORM */
form {
    background: #f4f4f4;
    padding: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
}